<style>
  :root {
    --hero-text-shadow-blur-rad: 8px;
    --hero-text-shadow-color: rgba(0, 0, 0, 0.2);
  }
  .slider-hero {
    width: 100%;
    height: {{ section.settings.sectionHeight  }}vh;
    height: {{ section.settings.sectionHeight  }}dvh;
    /*  height: calc(100vh - 50px); */
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
  }
  .slider-hero__title {
    margin: 0;
  }
  .slider-hero__container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    /*background-color: red;*/
  }
  .slider-hero__container__inner {
    display: flex;
    height: 100%;
    width: max-content;
  }
  .slider-hero__item {
    width: 100vw;
    width: 100dvw;
    height: 100%;
    /*background-color: red;*/

    position: relative;
    transition: transform var(--duration-long) ease;
  }
  .slider-hero__item--thumbnail {
    width: 100%;
    height: 100%;

    position: relative;
    /*aspect-ratio: 16/9;*/
  }
  .slider-hero__item--thumbnail::after {
    width: 100%;
    height: 100%;
    left: 0;
    /*aspect-ratio: 16/9;*/
    top: 0;
    content: '';
    position: absolute;

    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    z-index: 1;
  }
  .slider-hero__item--thumbnail .slider-hero__item--thumbnail-content {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /*aspect-ratio: 16/9;*/
  }
  .slider-hero__item--thumbnail-content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  {%  assign result = 100 | minus: section.settings.barVerticalPos %}
  .slider-hero__item__bottom {
    position: absolute;

    left: 5rem;
    bottom: {{ result }}%;
    margin-right: 1rem;
    z-index: 2;

    width: 30%;
    /* too lazy to rewrite */
    padding-left: 2rem;
    padding-top: 3rem;
    padding-right: 1rem;
    padding-bottom: 2rem;

    text-shadow: 1px 1px var(--hero-text-shadow-blur-rad) var(--hero-text-shadow-color),
      1px -1px var(--hero-text-shadow-blur-rad) var(--hero-text-shadow-color),
      -1px 1px var(--hero-text-shadow-blur-rad) var(--hero-text-shadow-color),
      -1px -1px var(--hero-text-shadow-blur-rad) var(--hero-text-shadow-color);
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0) 100%);
  }
  .slider-hero__item:has(video) .slider-hero__item__bottom {
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0) 100%);
  }
  .slider-hero__item__bottom::before {
    width: 1px;
    height: 100%;
    content: '';
    left: {{ section.settings.barHorizontalPos }}rem;
    bottom: 0rem;
    position: absolute;
    background-color: white;
  }
  .slider-hero__item__bottom--title {
    color: rgba(var(--color-background), 0.95);
    font-size: 3.2rem;
    margin-top: 0;
    margin-bottom: -1rem;

    cursor: pointer;
    z-index: 2;
  }
  .slider-hero__item__bottom--preview-text {
    color: rgba(var(--color-background), 0.9);
    margin-bottom: 0;
    max-width: 100%;
  }
  .slider-hero__item__bottom--time {
    position: absolute;
    width: 7px;
    height: 0;
    content: '';
    left: {{ section.settings.barHorizontalPos }}rem;
    bottom: 0rem;
    display: block !important;
    background-color: white;
  }

  @keyframes timer_line {
    0% {
      height: 0;
      bottom: 100%;
    }
    100% {
      height: 100%;
    }
  }

  .slider-hero__button-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  .slider-hero__button {
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: url({{'moveable.svg'|asset_url}}), pointer;

    z-index: 0;
  }
  .slider-hero__button--left {
    cursor: url({{'left-moveable.svg'|asset_url}}), pointer;
  }
  .slider-hero__button--left.slider-hero__button--disabled {
    cursor: url({{'left-unmoveable.svg'|asset_url}}), pointer;
  }
  .slider-hero__button--disabled {
    cursor: url({{'unmoveable.svg'|asset_url}}), pointer;
  }

  @media screen and (max-width: 1368px) {
    .slider-hero {
      height: 50vh;
    }
    .slider-hero__item {
      width: 100vw;
    }
    .slider-hero__item--thumbnail {
      aspect-ratio: auto;
      object-fit: cover;
    }
    .slider-hero__item--thumbnail .slider-hero__item--thumbnail-content {
      aspect-ratio: auto;
      object-fit: cover;
    }
    .slider-hero__item--thumbnail::after {
      aspect-ratio: auto;
    }
    .slider-hero__item__bottom {
      bottom: 20%;
      left: 7rem;
      margin-right: 0;
      width: 50%;
      padding-inline: 0;
    }
    .slider-hero__button-container,
    .slider-hero__button--left,
    .slider-hero__button--right {
      cursor: pointer !important;
    }
  }
  @media screen and (max-width: 720px) {
    .slider-hero {
      height: 80vh;
    }
    .slider-hero__item__bottom {
      bottom: 20%;
      left: 4rem;
      width: 65%;
      padding-inline: 1rem;
    }
  }
  @media screen and (max-width: 600px) {
    .slider-hero {
      height: 100vh;
    }
    .slider-hero__item__bottom {
      width: 75%;
      bottom: 15vh;
    }
    .slider-hero__item__bottom--time {
      width: 5px;
    }
  }
</style>

<div class="slider-hero">
  <div class="slider-hero__container">
    <div class="slider-hero__container__inner">
      {% for entry in shop.metaobjects.hero_content.values %}
        <div class="slider-hero__item">
          <div class="slider-hero__item__bottom">
            <div class="slider-hero__item__bottom--time"></div>
            <h1 class="slider-hero__item__bottom--title">{{ entry.title }}</h1>
            <p class="slider-hero__item__bottom--preview-text">{{ entry.description }}</p>
          </div>
          <div class="slider-hero__item--thumbnail">
            {% if entry.thumbnail.value.media_type == 'image' %}
              <img
                class="slider-hero__item--thumbnail-content"
                src="{{ entry.thumbnail.value | image_url }}"
                width="auto"
                height="auto"
                alt=""
              >
            {% else %}
              <div class="slider-hero__item--thumbnail-content">
                {{ entry.thumbnail.value | media_tag: autoplay: true, loop: true, muted: true, controls: false }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="slider-hero__button-container">
    <button
      id="slider-hero__button--left"
      class="slider-hero__button slider-hero__button--left slider-hero__button--disabled"
    ></button>
    <button id="slider-hero__button--right" class="slider-hero__button slider-hero__button--right"></button>
  </div>
</div>

{% javascript %}
  let timers = document.getElementsByClassName('slider-hero__item__bottom--time');
  let all = [...document.getElementsByClassName('slider-hero__item')];
  let leftbtn = document.getElementById('slider-hero__button--left');
  let rightbtn = document.getElementById('slider-hero__button--right');
  let curIndex = 0;

  let autoMoveDir = 1;

  const animtime = 10;

  let f = () => {
    let curTimer = timers[curIndex];
    curTimer.style.animation = 'none';
    void curTimer.offsetWidth; // Trigger reflow to reset animation
    curTimer.style.animation = `timer_line ${animtime}s linear forwards`;
  };
  // if we dont call this then for some reason, the custom cursor just doesnt appear.
  document.addEventListener('DOMContentLoaded', () => {
    // f();
    rightbtn.click();
    leftbtn.click();
  });

  const intervalFunc = () => {
    if (true) {
      f();
      console.log('hihaiha');
      if (autoMoveDir == 1) {
        rightbtn.click();
      } else {
        leftbtn.click();
      }
    }
  };

  f();
  let interval = setInterval(() => {
    intervalFunc();
  }, animtime * 1000);

  let move = (direction) => {
    let i = 0;
    all.forEach((element) => {
      dif = (curIndex - i) * -1;
      element.style.transform = `translateX(${dif}00%)`;
    });
    f();

    // reached end
    if (curIndex == all.length - 1) {
      autoMoveDir = -1;
    }
    // reached start
    if (curIndex == 0) {
      autoMoveDir = 1;
    }
  };

  leftbtn.addEventListener('click', () => {
    if (curIndex > 0) {
      curIndex -= 1;
    } else {
      curIndex = 0;
    }

    if (curIndex == 0) {
      leftbtn.classList.add('slider-hero__button--disabled');
      rightbtn.classList.remove('slider-hero__button--disabled');
    } else {
      leftbtn.classList.remove('slider-hero__button--disabled');
      rightbtn.classList.remove('slider-hero__button--disabled');
    }
    move();
    clearInterval(interval);
    interval = setInterval(() => {
      intervalFunc();
    }, animtime * 1000);
  });
  rightbtn.addEventListener('click', () => {
    if (curIndex < all.length - 1) {
      curIndex += 1;
    } else {
      curIndex = all.length - 1;
    }

    console.log(curIndex, all.length - 1);
    if (curIndex == all.length - 1) {
      rightbtn.classList.add('slider-hero__button--disabled');
      leftbtn.classList.remove('slider-hero__button--disabled');
    } else {
      rightbtn.classList.remove('slider-hero__button--disabled');
      leftbtn.classList.remove('slider-hero__button--disabled');
    }
    move();
    clearInterval(interval);
    interval = setInterval(() => {
      intervalFunc();
    }, animtime * 1000);
  });
{% endjavascript %}

{% schema %}
{
  "name": "Slider Hero",
  "settings": [
    {
      "type": "range",
      "id": "sectionHeight",
      "label": "Section Height",
      "default": 85,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "barVerticalPos",
      "label": "Bar Vertical Position",
      "default": 80,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "barHorizontalPos",
      "label": "Bar Horizontal Position",
      "default": -1,
      "min": -3,
      "max": 3,
      "step": 0.1
    }
  ]
}
{% endschema %}
